<footer>
  <nav id="navigation" class="with_icons">
    <% _.each(sections, function(section){
      var id = section.id;
      %><a href="/<%=id%>" data-section="<%=id%>" class="<%=section.icon%>"></a><%
    }); %>
  </nav>
</footer>