<header>
  <nav id="navigation">
    <% _.each( _.pluck(sections, 'id'), function(id){
      %><a href="/<%=id%>" data-section="<%=id%>"><%= I18n.t('sections.' + id + '.title') %></a><%
    }); %>
  </nav>
</header>