<header>
  <nav id="navigation">
    <a href="/entries">Registratie</a>
    <a href="/groceries">Boodschappen</a>
    <a href="/report">Overzicht</a>
    <a href="/admin">Admin</a>
    <a href="/session">Account</a>
  </nav>
</header>